<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
			<th>Phone</th>
			<th>Currently Assigned</th>
			<th>Role</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.name, employee_path(employee) %></td>
				<td><%= number_to_phone employee.phone unless employee.phone.nil?  %></td>
				<td><%= link_to employee.current_assignment.store.name, store_path(employee.current_assignment.store) unless employee.current_assignment.nil? %></td>
        <td><%= employee.role.capitalize %></td>
				<td>
					<%= link_to raw("<i class='icon-file'></i> Details"), employee_path(employee), :class => 'btn btn-mini' %>
          <%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_employee_path(employee), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @employees, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
