<div id="container">
	<br>
	<p id="notice"><%= notice %></p>
	<p class="supertiny"></p>

<h1>Employee Details:</h1>

<p>
	<b>Name:</b>
  	<%= @employee.name %>
</p>

<p>
	<b>Phone:</b>
  	<%= @employee.phone[0,3]+"-"+@employee.phone[3,3]+"-"+@employee.phone[6,4] %>

</p>

<p>
	<b>Date of Birth:</b>
	<%= @employee.date_of_birth.strftime("%m/%d/%y") %>
</p>

<p>
	<b>SSN:</b>
	<%= @employee.ssn %>
</p>

<p>
	<b>Role:</b>
	<%= @employee.role.capitalize %>
</p>

<p>
	<b>Active:</b>
	<%= "#{(@employee.active)? "Yes" : "No"}" %>
</p>

<p>
	<b>Assignment History:</b>
	<table>
  		<% @assignments.reverse.each do |assignment| %>
  		<tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    		<% if assignment.end_date.nil? %>
      			<li><%= link_to assignment.store.name, store_path(assignment.store) %>&nbsp;<span class="label important">Current</span></li>
    		<% else %>
      			<li><%= link_to assignment.store.name, store_path(assignment.store) %></li>
   			<% end %>  
 		</tr>
 		<% end %>
	</table>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Delete', @employee, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', employees_path %>

</div>