<br />
<p>
  <b>Store</b>: <%= link_to @assignment.store.name, store_path(@assignment.store) %>
</p>

<p>
  <b>Employee</b>: <%= link_to @assignment.employee.name, employee_path(@assignment.employee) %>
</p>

<p>
  <b>Start date</b>: <%= @assignment.start_date.strftime("%m/%d/%y") %>
</p>

<p>
	<b>End date</b>: 
	<% if @assignment.end_date.nil? %>
		&nbsp;&nbsp;<em>TBD</em>
	<% else %>
  	<%= @assignment.end_date.strftime("%m/%d/%y") %>
	<% end %>
</p>

<p>
  <b>Pay level</b>: <%= @assignment.pay_level %>
</p>