<table class="table table-striped">
  <thead>
    <tr>
      <th>Store</th>
			<th>Employee</th>
			<th class="centered">Pay</th>
      <th>Start Date</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.store.name, store_path(assignment.store) %></td>
				<td><%= link_to assignment.employee.name, employee_path(assignment.employee) %></td>
				<td class="centered"><%= assignment.pay_level %></td>
        <td><%= assignment.start_date.strftime("%m/%d/%y") %></td>
        <td>
					<%= link_to raw("<i class='icon-file'></i> Details"), assignment_path(assignment), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @assignments, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
