<%= form_for(@assignment) do |f| %>
<% if @assignment.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved: </h2>
	<ul>
		<% @assignment.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :store_id %><br/>
	<%= f.collection_select :store_id, Store.active.alphabetical, :id, :name, :prompt => "Select..." %>
</div>
<div class="field">
	<%= f.label :employee_id %><br/>
	<%= f.collection_select :employee_id, Employee.active.alphabetical, :id, :name, :prompt => "Select..." %>
</div>
<div class="field">
	<%= f.label :start_date %><br/>
	<%= f.date_select :start_date, :as => :date, :start_year => Date.today.year - 90, :end_year => Date.today.year, :order => [:month, :day, :year] %>
</div>

<% if controller.action_name != nil %>

<div class="field">
	<%= f.label :end_date %><br/>
	<%= f.date_select :end_date, :as => :date, :start_year => Date.today.year - 90, :end_year => Date.today.year, :order => [:month, :day, :year], :include_blank => true, :default => {:day => nil, :month => nil, :year => nil} %>
</div>
<% end %>
<div class="field">
	<%= f.label :pay_level %><br/>
	<%= f.select :pay_level, 1..6 %>
</div>
<div class="actions">
	<%= f.submit :class => "btn"%>
	<%= link_to 'Back', assignments_path, :class => "btn" %>
</div>
<% end %>