<div id="container">
	<br>
	<p id= "notice"><%= notice %></p>

<h1>Assignment Details:</h1>

<p>
	<b>Store:&nbsp;&nbsp;</b>
	<%= @assignment.store.name %>
</p>

<p>
	<b>Employee:&nbsp;&nbsp;</b>
	<%= @assignment.employee.name %>
</p>

<p>
	<b>Start Date:&nbsp;&nbsp;</b>
	<%= @assignment.start_date.strftime("%m/%d/%y") %>
</p>
 
 <p>
	<b>End Date:&nbsp;&nbsp;</b>
	<% if @assignment.end_date != nil %>
		<%= @assignment.end_date.strftime("%m/%d/%y") %>
	<% else %>
		<%= "The assignment has not ended" %>
	<% end %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Delete', @assignment, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', assignments_path %>

</div>