<div id="container">
    <br>

<p class="supertiny"></p>
<h1>Current Stores</h1>

<%= render :partial => "stores_map" %>

<table>
  <thead>
    <th>Store Name</th>
    <th>Store Phone</th>
    <th class ="centered">Staff Count</th>
    <th></th>
    <th></th>
    <th>&nbsp;</th>
  </thead>

  <% i = 0 %>
  <% @stores.each do |store| %>
  <% i += 1 %>
  <tr class="<%= cycle('dg_list_Line_odd', 'dg_list_line_even') %>">
    <td><%= "#{i}. " %><%= link_to store.name, store_path(store) %></td>
    <td><%= number_to_phone store.phone %></td>
    <td><%= store.assignments.current.count %></td>
    <td><%= link_to 'Edit', edit_store_path(store), :class => "btn" %></td>
  </tr>

  <% end %>
</table>

<span class="smtext">
  <%= will_paginate @stores, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

</div>