<div id="container">
    <br>

<p class="supertiny"></p>

<h1>Inactive Stores</h1>

<table class="datagrid">
    <thead>
        <th>Store Name/th>
        <th>Store Phone</th>
        <th></th>
        <th></th>
        <th>&nbsp;</th>
    </thead>

    <% @inactive_stores.each do |store| %>
    <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even')%>">
      <td><%= link_to store.name, store_path(store) %></td>
      <td><%= number_to_phone store.phone %></td>
      <td><%= link_to 'Edit', edit_store_path(store), :class => 'btn primary' %></td>
    </tr>
    <% end %>
  </table>

  <span class="smtext">
    <%= will_paginate @inactive_stores, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next", :param_name => "inactive_page" %>
    </span>

  </div>