<p>
	<h4>
	  Name: <%= @store.name %>
	</h4>
</p>

<p>
  <b>Address:</b><br>
  <%= @store.street %><br />
	<%= @store.city %>, <%= @store.state %> <%= @store.zip %>
</p>

<p>
  <b>Phone:</b><br>
  <%= number_to_phone @store.phone %>
</p>

<p>
  <b>Active:</b> 
  <%= @store.active ? "Yes" : "No" %>
</p>