<div id="static">
	<table>
		<thead>
			<th>Stores</th>
		</thead>
		<thead>
			<th>Name</th>
			<th>Phone</th>
			<th>Employees</th>
			<th>Shift Hours </th>
			<th></th>
			<th></th>
			<th></th>
		</thead>
		<% if @stores.size > 0 %>
		<% @stores.each do |store| %>
		<tr>
			<td><%= link_to store.name, store_path(store) %></td>
			<td><%= number_to_phone store.phone %></td>
			<td><%= store.assignments.current.count %></td>
			<td><%= store.shift_hours_for_past_days(14) %></td>
			<td><%= link_to 'New Assignment', new_assignment_path(:store_id => store.id), :class => 'btn' %></td>
			<td><%= link_to 'Details', store_path(store), :class => 'btn' %></td>
		</tr>
		<% end %>
		<% else %>
		<tr>
			<td>None</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<% end %>
	</table>

	<div id="page_nav">
		<%= will_paginate @stores, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
	</div>
	<br/>
	<br/>
</div>

<table>
	<thead>
		<th>Top 3 Employees</th>
	</thead>
	<thead>
		<th>Name</th>
		<th>Hours WOrked</th>
		<th>Store</th>
		<th></th>
	</thead>
	<% if @top_employees.size > 0 %>
	<% @top_employees.each do |employee| %>
	<tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even')%>">
		<td><%= link_to employee.name, employee_path(employee) %></td>
		<td><%= employee.worked_hours_for_past_few_days %></td>
		<% if employee.current_assignment.nil? %>
		<td>N/A</td>
		<% else %>
		<td><%= link_to employee.current_assignment.store.name, store_path(employee.current_assignment.store) %></td>
		<% end %>
		<td><%= link_to 'Details', employee, :class => 'btn' %></td>
	</tr>
	<% end %>
	<% else %>
	<tr>
		<td>None</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<% end %>
</table>
</div>

<div class="span3">
	<%= render :partial => "partials/control_panel" %>
</div>

</div>