<!DOCTYPE html>
<html>
<head>
  <title>My Creamery</title>
  <%= stylesheet_link_tag "application", "bootstrap.min", "bootstrap-responsive.min" %>
  <%= javascript_include_tag "jquery", "jquery-ui", "jquery_ujs", "bootstrap.min" %>
  <%# stylesheet_link_tag    "application", :media => "all" %>
  <%# javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- TITLE BAR -->
	<div id="header">
	<%= image_tag('bannerlogo.jpg') %>
</div>

<!-- NAV BAR -->
<!-- note that topbar css positioning changed to relative -->
<div class="navbar">
	<div class="navbar-inner">
	<div class="container">
		
<!-- links go here -->
	<ul class="nav">
		<li class="active"><%= link_to 'Home', home_path %></li>
		<li><%= link_to 'Employees', employees_path %></li>
		<li><%= link_to 'Stores', stores_path %></li>
		<li><%= link_to 'Assignments', assignments_path %></li>
	</ul>
	</div>
    </div>
</div>

<%= yield %>

<%= render :partial => "partials/footer" %>

</body>
</html>